/* 1199px start  */
@media (max-width: 1199px){
    .post-date {
        bottom: 112px;
    }
}
/* 1166px start  */
@media (max-width: 1166px){
    .typewriter h4 {
        font-size: 18px;
    }
    .about-content h4 {
        font-size: 29px;
        line-height: 40px;
    }
    .about-content > p {
        font-size: 14px;
    }
}
/* 100px start  */
@media (max-width: 1000px){
    .typewriter {
        width: 32%;
    }
}
/* 990 px start  */
@media (max-width: 990px){
    .testimonial-section{
        display: none;
    }
    .under-990px{
        display: block;
    }
    .post-date {
        bottom: 90px;
    }
}
/* 984px start  */
@media (max-width: 986px){
    .home-left {
        display: none;
    }
    .home-right {
        display: none;
    }
    .home-menu{
        width: 200px;
        background: #161616;
        padding: 30px;
        margin-top: 20px;
    }
    .home-menu li{
        padding: 10px 0;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
}
/* 974px start  */
@media (max-width: 974px){
    .contact-info{
        margin-top: 50px;
    }
}
/* 772px start  */
@media (max-width: 772px) {
    .typewriter {
        width: 42%;
    }
    .kitzu-button a {
        padding: 10px 15px;
        font-size: 14px;
    }
    .about-content h4 {
        font-size: 21px;
        line-height: 34px;
    }
}
/* 768px start  */
@media (max-width: 768px) {
    .post-date {
        bottom: 68px;
    }
}
/* 758px start  */
@media (max-width: 758px) {
    .home-content h2 {
        font-size: 50px;
    }
    .kitzu-text h2 {
        font-size: 35px;
    }
    .cross a {
        right: 10%;
    }
    .plan-title {
        font-size: 24px;
    }
    .plan-price {
        font-size: 19px;
    }
}
/* 522px start  */
@media (max-width: 522px) {
    .typewriter {
        width: 52%;
    }
    .about-social{
        flex-wrap: wrap;
        margin-top: 18px;
    }
    .about-content > p {
        font-size: 12px;
    }
}
/* 473px start  */
@media (max-width: 473px){
    .post-date {
        bottom: 90px !important;
    }
}
/* 434px start  */
@media (max-width: 434px) {
    .typewriter {
        width: 62%;
    }
}
/* 368px start  */
@media (max-width: 368px) {
    .typewriter {
        width: 72%;
    }
    .client-text p {
        font-size: 12px;
    }
    .about-content h4{
        line-height: 40px;
        font-size: 14px;
    }
    .kitzu-text p {
        font-size: 12px;
    }
    .kitzu-text h2 {
        font-size: 28px;
    }
    .about-social ul li a {
        padding: 0 4px;
        font-size: 12px;
    }
}
/* 368px start  */
@media (max-width: 368px) {
    .typewriter {
        width: 82%;
    }
}
/* 348px start  */
@media (max-width: 348px) {
    .home-content h2 {
        font-size: 30px;
    }
}
/* 337px start  */
@media (max-width: 337px) {
    .post-date {
        bottom: 112px !important;
    }
    .portfolio-tab li a {
        padding: 0 6px;
    }
}
/* 288px start  */
@media (max-width: 288px) {
    .typewriter h4 {
        font-size: 15px;
    }
}